@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('VAGRoundedStd-Bold.eot');
  src: url('VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('VAGRoundedStd-Bold.woff2') format('woff2'),
       url('VAGRoundedStd-Bold.woff') format('woff'),
       url('VAGRoundedStd-Bold.ttf') format('truetype'),
       url('VAGRoundedStd-Bold.svg#VAGRoundedStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

