<article class="gallerij">
    <header class="hide"><h1>Gallerij</h1></header>
    <section class="slideshow">
        <header class="hide"><h1>Slideshow</h1></header>
        <ul>
            <li><img src="http://www.placecage.com/gif/284/196" alt="" /></li>
            <li><img src="http://www.placecage.com/gif/284/196" alt="" /></li>
            <li><img src="http://www.placecage.com/gif/284/196" alt="" /></li>
            <li><img src="http://www.placecage.com/gif/284/196" alt="" /></li>
        </ul>
        <a href="#">vorige</a>
        <a href="#">volgende</a>
    </section>
</article>