<article class="info">
    <header class="hide"><h1>Info</h1></header>
    <section class="infokoppel">
        <header class="hide"><h1>Info koppel</h1></header>
        <img src="http://www.placecage.com/gif/284/196" alt="" />
        <p>Ellen en Geoffrey</p>
        <a href="sms:/* phone number here */;body=/* body text here */">SMS</a>
        <a href="tel:/* phone number here */">Bel</a>
    </section>
    <section class="infolocatie">
        <header class="hide"><h1>Info locatie</h1></header>
        <p>Stationsstraat</p>
        <span><p>12</p></span>
        <p>Kortrijk</p>
    </section>
</article>