<article class="beoordeling">
    <header class="hide"><h1>Beoordeling</h1></header>
    <section class="show">
        <header><h1>Show</h1></header>
        <p>Hier komt een subtextje</p>
        <div class="range-slider" data-slider data-options="start: 0; end: 5;">
          <span class="range-slider-handle" role="slider" tabindex="0"></span>
          <span class="range-slider-active-segment"></span>
          <input type="hidden">
        </div>
    </section>
    <section class="baby">
        <header><h1>Baby</h1></header>
        <p>Hier komt een subtextje</p>
        <div class="range-slider" data-slider data-options="start: 0; end: 5;">
          <span class="range-slider-handle" role="slider" tabindex="0"></span>
          <span class="range-slider-active-segment"></span>
          <input type="hidden">
        </div>
    </section>
    <section class="partner">
        <header><h1>Partner</h1></header>
        <p>Hier komt een subtextje</p>
        <div class="range-slider" data-slider data-options="start: 0; end: 5;">
          <span class="range-slider-handle" role="slider" tabindex="0"></span>
          <span class="range-slider-active-segment"></span>
          <input type="hidden">
        </div>
    </section>
    <a href="#" class="vorige">vorige</a>
    <a href="#" class="volgende">volgende</a>
    <form method="post" action="#rate" autocomplete="off">
    	<fieldset>
    	    <input type="button" value="Vorige" />
            <input type="button" value="Volgende" />
            <input type="submit" value="Beoordeel" />
        </fieldset>
    </form>
</article>