<form method="post" action="" class="forgotpw">
    <fieldset>
        <legend>Wachtwoord vergeten</legend>
        <p class="info">Vooraleer je een nieuw wachtwoord in kunt stellen zal er eerst een mail verzonden worden naar het e-mailadres dat aan jouw account is gekoppeld, in deze mail staan verdere instructies om een nieuw wachtwoord te bekomen.</p>
        <p>
            <label for="email">E-mailadres</label>
            <span class="mailicon"><img src="assets/images/mailicon.png" alt="mailicon" /></span><input type="email" autofocus required pattern=".{2,}" name="email" id="email" placeholder="john@doe.com" value="" />
        </p>
        <p>
            <a href="#login" class="button">Terug</a>
            <input type="submit" name="forgotpw" value="Reset" />
        </p>
    </fieldset>
</form>


