<form method="post" action="">
	<fieldset>
		<legend>Wachtwoord vergeten</legend>
		<p>Vooraleer je een nieuw wachtwoord in kunt stellen zal er eerst een mail verzonden worden naar het e-mailadres dat aan jouw account is gekoppeld, in deze mail staan verdere instructies om een nieuw wachtwoord te bekomen.</p>
		<p>
			<label for="email">E-mailadres</label>
			<input type="email" autofocus required pattern=".{2,}" name="email" class="email" placeholder="john@doe.com" value="" />
		</p>
		<p>
			<input type="submit" name="forgotpw" value="Reset" />
			<a href="#login" class="button">Terug</a>
		</p>
	</fieldset>
</form>