<form method="post" action="#login">
	<fieldset>
		<legend>Login</legend>
		<p>
			<label for="email">E-mailadres</label>
			<input type="email" autofocus required pattern=".{2,}" name="email" class="email" placeholder="john@doe.com" value="" />
		</p>
		<p>
			<label for="password">Wachtwoord</label>
			<input type="password" required pattern=".{2,}" name="password" class="password" value="" />
		</p>
		<p>
			<input type="submit" value="Inloggen" />
			<input type="button" value="of registreer" />
		</p>
	</fieldset>
</form>