<header>
    <h1>Komen bevallen</h1>
</header>
<nav>
    <ul>
        <li><a href="#signup">inschrijven</a></li>
        <li><a href="#rate">beoordelen</a></li>
        <li><a href="#contenders">deelnemers</a></li>
        <li><a href="#soundboard">soundboard</a></li>
        <li><a href="#settings">instellingen</a></li>
        <li><a href="#logout">logout</a></li>
    </ul>
</nav>