<div class="overview">
    <a href="#" class="help">?</a>
    <nav>
        <ul>
            <li><a href="#contenders"{{#if notThisWeek}} disabled"{{/if}}>deelnemers</a></li>
            <li><a href="#relive">fotogallerij</a></li>
            {{#if finished}}
            <li><a href="#result">resultaat</a></li>
            {{else}}
            <li><a href="#rate"{{#if notThisWeek}} class="disabled"{{/if}}>beoordelen</a><span class="notificationmbr">1</span></li>
            {{/if}}
            <li><a href="#soundboard">soundboard</a></li>
            <li><a href="#pregnancy">account instellingen</a></li>
            <li><a href="#logout">logout</a></li>
        </ul>
    </nav>
</div>