<article class="overview">
    <header>
        <a href="#">Log uit</a>
        <h1>Komen bevallen</h1>
        <a href="#">Settings</a>
    </header>
    <nav class="headnav">
        <header class="hide"><h1>Hoofd Navigatie</h1></header>
        <ul>
            <li><a href="#">dag 1</a></li>
            <li><a href="#">dag 2</a></li>
            <li><a href="#">dag 3</a></li>
            <li><a href="#">dag 4</a></li>
        </ul>
    </nav>
    <nav class="subnav">
        <header class="hide"><h1>Sub Navigatie</h1></header>
        <ul>
            <li><a href="#">Info</a></li>
            <li><a href="#">Beoordeel</a></li>
            <li><a href="#">Gallerij</a></li>
        </ul>
    </nav>
</article>

