<header>
    <h1>Komen bevallen</h1>
</header>
<nav>
    <ul>
        <li><a href="#inschrijven">inschrijven</a></li>
        <li><a href="#beoordelen">beoordelen</a></li>
        <li><a href="#deelnemers">deelnemers</a></li>
        <li><a href="#soundboard">soundboard</a></li>
        <li><a href="#instellingen">instellingen</a></li>
        <li><a href="#loguit">logout</a></li>
    </ul>
</nav>

