<article class="settings">
    <header>
        <h1>Settings</h1>
        <a href="#overview">Sluiten</a>
    </header>
    <form method="post" action="#settings" autocomplete="off">
    	<fieldset>
    		<legend>Settings</legend>
            <p>
            	<label for="email">E-mailadres</label>
            	<input type="email" name="email" id="email" value="{{email}}" />
            </p>
            <p>
                <label for="oldpassword">Oud wachtwoord</label>
                <input type="password" required pattern=".{2,}" name="oldpassword" id="oldpassword" />
            </p>
            <p>
                <label for="newpassword">Nieuw wachtwoord</label>
                <input type="password" required pattern=".{2,}" name="newpassword" id="newpassword" />
            </p>
            <p>
                <label for="newpasswordconfirm">Nieuw wachtwoord herhalen</label>
                <input type="password" required pattern=".{2,}" name="passwordconfirm" id="newpasswordconfirm" />
            </p>
            <p>
                <input type="submit" name="settings" value="Bewerken" />
            </p>
        </fieldset>
    </form>
</article>