<form method="post" action="#login">
	<fieldset>
		<legend>Register</legend>
		<p>
			<label>E-mailadres</label>
			<input type="email" name="email" placeholder="john@doe.com" />
		</p>
		<p>
			<label>Wachtwoord</label>
			<input type="password" name="password" />
		</p>
		<p>
			<input type="submit" value="Registreer" />
		</p>
	</fieldset>
</form>