{{#equals screen 1}}
<form method="post" class="step-1" action="#register/1">
	<fieldset>
		<legend>Register</legend>
		<p>
        	<label for="email">E-mailadres</label>
        	<input type="email" required name="email" id="email" placeholder="john@doe.com" />
        </p>
        <p>
        	<label for="password">Wachtwoord</label>
        	<input type="password" required pattern=".{2,}" name="password" id="password" />
        </p>
        <p>
            <label for="passwordconfirm">Herhaal wachtwoord</label>
            <input type="password" required pattern=".{2,}" name="passwordconfirm" id="passwordconfirm" />
        </p>
        <p>
			<input type="submit" name="register" value="Registreer" />
            <a href="#login" class="button">Terug</a>
		</p>
	</fieldset>
</form>
{{/equals}}
{{#equals screen 2}}
<form method="post" class="step-2" action="#register/2">
    <fieldset>
        <legend>Inschrijven</legend>
        <p>
            <label for="photo">Foto</label>
            <input type="file" required name="photo" id="photo" />
        </p>
        <p>
            <label for="type">Situatie</label>
            <input type="text" list="type_list" required pattern=".{2,}" name="type" id="type" />
            <datalist id="type_list">
                <option value="Tienermoeder"></option>
                <option value="Marginaal"></option>
                <option value="Niet gekende vader"></option>
                <option value="Homoseksueel koppel"></option>
            </datalist>
        </p>
        <p>
            <label for="mother">Moeder</label>
            <input type="text" required pattern=".{2,}" name="mother" id="mother" />
        </p>
        <p>
            <label for="partner">Partner</label>
            <input type="text" required pattern=".{2,}" name="partner" id="partner" />
        </p>
        <p>
            <label for="duedate">Allez, voor wanneer is 't?</label>
            <input type="date" required name="duedate" id="duedate" />
        </p>
        <p>
           <input type="submit" name="signup" value="Inschrijven" />
        </p>
    </fieldset>
</form>
{{/equals}}
{{#equals screen 3}}
<div class="step-3">
    JOEPEIEIEIEIEIEIEIEIEEIEIeIEIE
</div>
{{/equals}}