<form method="post" action="#auth">
	<fieldset>
		<legend>Register</legend>

		<p>
        	<label for="email">E-mailadres</label>
        	<input type="email" name="email" class="email" placeholder="john@doe.com" value="" />
        </p>
        <p>
        	<label for="password">Wachtwoord</label>
        	<input type="password" required pattern=".{2,}" name="password" class="password" value="" />
        </p>
        <p>
            <label for="passwordconfirm">Herhaal wachtwoord</label>
            <input type="password" required pattern=".{2,}" name="passwordconfirm" class="passwordconfirm" value="" />
        </p>
        <p>
			<input type="submit" name="register" value="Registreer" />
		</p>
	</fieldset>
</form>

