<header>
    <div class="headerbar"></div>
    <h1 class="logolarge">Komen bevallen</h1>
</header>
<article class="result">
    <header class="title"><h1>Resultaten</h1></header>
    <div class="kroon"></div>
    <section class="winnaar">
        <header><h1>Kim en Tibau</h1></header>
        <a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a>
        <p><span>46/50</span>punten</p>
        <div class="dummy">&nbsp;</div>
    </section>
    <div class="dummy">&nbsp;</div>

    <section class="ranking">
        <header class="hide"><h1>Ranking</h1></header>
        <ol>
            <li class="hide"><a href="#">Kim en Tibau</a></li>
            <li class="pink"><a href="#" class="pink"><span class="pink">2</span> Katy en Tommy</a></li>
            <li><a href="#"><span>3</span> Lisa en Karen</a></li>
            <li class="pink"><a href="#" class="pink"><span class="pink">4</span> Mieke en Tim</a></li>
        </ol>
    </section>
    <a href="#overview" class="button">Home</a>
</article>