<article class="result">
    <header class="hide"><h1>Resultaat</h1></header>
    <a href="#">Sluit</a>
    <img src="http://www.placecage.com/gif/284/196" alt="" />
    <section class="winnaar">
        <header class="hide"><h1>winnaar</h1></header>
        <a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a>
        <p>Ellen & Geoffrey</p>
    </section>
    <section class="ranking">
        <header><h1>Ranking</h1></header>
        <ol>
            <li><a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a></li>
            <li><a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a></li>
            <li><a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a></li>
            <li><a href="#"><img src="http://www.placecage.com/gif/284/196" alt="" /></a></li>
        </ol>
    </section>
</article>