<article class="welkom">
    <header><h1>Welkom</h1></header>
    <ul>
        <li><span>4</span> Koppels <img src="assets/images/koppelsicon.svg" alt="koppels" /></li>
        <li class="pink"><span class="pink">4</span> Bevallingen <img src="assets/images/bevallingen.svg" alt="bevallingen" /></li>
        <li><span>1</span> Winnaar <img src="assets/images/kroon.svg" alt="winnaar" /></li>
    </ul>
    <div class="dummy">&nbsp;</div>
    <a href="#login" class="button">Start</a>
</article>
